spring:
  mail:
    host: smtp.gmail.com
    port: 587
    username: carehub2025app@gmail.com
    password: app-password
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
  redis:
    host: localhost
    port: 6379
    password: redis-password